@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.custom-slider {
    position: relative;
    padding: 0 10px;
}

.custom-slider button.slick-next {
    z-index: 10;
    top: 45%;
    right: -5px;
}

.custom-slider button.slick-prev {
    z-index: 10;
    top: 45%;
    left: -15px;
}

@media (max-width: 768px) {
    .custom-slider button.slick-next {
        right: -10px;
    }
    
    .custom-slider button.slick-prev {
        left: -10px;
    }

    .custom-slider button.slick-next::before,
    .custom-slider button.slick-prev::before {
        width: 30px;
        height: 30px;
    }
}

.custom-slider button.slick-next::before{
  color: grey;
  content: '\290D';
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 2px 7px 1px #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.3rem;
}

.custom-slider button.slick-prev::before{
  color: grey;
  content: '\290C';
   width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 2px 7px 1px #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.3rem;
}

.sub-product-slider button.slick-next{
  z-index: 10;
  top: 50%;
  right: -45px;
}

.sub-product-slider button.slick-prev{
  z-index: 10;
  top: 50%;
  left:-57px;
}

.sub-product-slider button.slick-next::before{
  color: grey;
  content: '\290D';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 2px 7px 1px #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.3rem;
}

.sub-product-slider button.slick-prev::before{
  color: grey;
  content: '\290C';
   width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 2px 7px 1px #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.3rem;
}


.search_box{
  border: solid 1px #ebebeb;
  border-radius: 40px;
}

.mdm{
  z-index:999999 !important;
}

.cart{
  z-index:888888 !important;
}



